
@font-face {
  font-family: 'Gentium Book Plus';
  font-weight: 400;
  font-style: normal;
  src: url(GentiumBookPlus-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Gentium Book Plus';
  font-weight: 400;
  font-style: italic;
  src: url(GentiumBookPlus-Italic.woff2);
  font-display: swap;
}

@font-face {
	font-family: 'Gentium Book Plus';
	font-weight: 600;
  font-style: normal;
	src: url(GentiumBookPlus-Bold.woff2);
  font-display: swap;
}

@font-face {
	font-family: 'Gentium Book Plus';
	font-weight: 600;
	font-style: italic;
	src: url(GentiumBookPlus-BoldItalic.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Gentium Plus';
  font-weight: 400;
  font-style: normal;
  src: url(GentiumPlus-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Gentium Plus';
  font-weight: 400;
  font-style: italic;
  src: url(GentiumPlus-Italic.woff2);
  font-display: swap;
}

@font-face {
	font-family: 'Gentium Plus';
	font-weight: 600;
  font-style: normal;
	src: url(GentiumPlus-Bold.woff2);
  font-display: swap;
}

@font-face {
	font-family: 'Gentium Plus';
	font-weight: 600;
	font-style: italic;
	src: url(GentiumPlus-BoldItalic.woff2);
  font-display: swap;
}
