
@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaEtoile-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaEtoile-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('IosevkaEtoile-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaEtoile-ThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaEtoile-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaEtoile-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('IosevkaEtoile-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaEtoile-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaEtoile-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaEtoile-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('IosevkaEtoile-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaEtoile-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaEtoile-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaEtoile-Oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('IosevkaEtoile-Oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaEtoile-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaEtoile-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaEtoile-MediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('IosevkaEtoile-MediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaEtoile-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaEtoile-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaEtoile-SemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('IosevkaEtoile-SemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaEtoile-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaEtoile-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaEtoile-BoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('IosevkaEtoile-BoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaEtoile-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaEtoile-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaEtoile-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('IosevkaEtoile-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaEtoile-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaEtoile-Heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaEtoile-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('IosevkaEtoile-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaEtoile-HeavyItalic.woff2') format('woff2');
}
