
@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Iosevka-Regular.woff2') format('woff2'), url('TTF/Iosevka-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/Iosevka-SemiExtended.woff2') format('woff2'), url('TTF/Iosevka-SemiExtended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Iosevka-Italic.woff2') format('woff2'), url('TTF/Iosevka-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/Iosevka-SemiExtendedItalic.woff2') format('woff2'), url('TTF/Iosevka-SemiExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Iosevka-Bold.woff2') format('woff2'), url('TTF/Iosevka-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/Iosevka-SemiExtendedBold.woff2') format('woff2'), url('TTF/Iosevka-SemiExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Iosevka-BoldItalic.woff2') format('woff2'), url('TTF/Iosevka-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/Iosevka-SemiExtendedBoldItalic.woff2') format('woff2'), url('TTF/Iosevka-SemiExtendedBoldItalic.ttf') format('truetype');
}
