/* Based on Sakura.css v1.3.0 https://github.com/oxalorg/sakura */

/* GENERAL *******************************************************************/

html {
  background-color: #fffdee;
  font-size: 62.5%; /* = 10px */
  scroll-behavior: smooth;
}

body {
  color: #343327;
  font-family: 'Gentium Book Basic', serif;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.4;
}

@media (max-width: 684px) {
  body {
    font-size: 2rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -ms-word-break: break-all;
  hyphens: none;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

h1 {
  font-family: 'Cormorant', 'Gentium Book Basic', serif;
  font-size: 3.3em;
  font-weight: 200;
  line-height: 1.1;
  margin-bottom: 4.5rem;
  margin-top: 5rem;
  padding-left: 5%;
  padding-right: 5%;
}

h2 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 4.5rem;
  margin-top: 5rem;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

h3 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

h4 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

h5,
h6 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

a {
  color: inherit;
  text-decoration-line: underline;
}

a:visited {
  color: inherit;
  text-decoration-line: underline;
}

a:hover {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-thickness: 0.07em;
}

a:active {
  color: inherit;
  text-decoration: underline;
}

p {
  margin-bottom: 2rem;
  margin-top: 0;
}

b,
strong {
  font-weight: bolder;
}

small,
sub,
sup {
  font-size: 0.75em;
}

ul,
ol {
  margin-bottom: 2rem;
  margin-top: 0;
  padding-left: 1.5em;
}

/* li ul, */
/* li ol { */
/*   margin-bottom: 0; */
/* } */

blockquote {
  border-left: 1px dashed;
  font-style: italic;
  margin-left: 1.5em;
}

cite {
  font-style: italic;
  font-weight: 400;
  padding-left: 0.5em;
}

cite a {
  text-decoration: none;
}

img {
  height: auto;
  margin-bottom: 2rem;
  margin-top: 0;
  max-width: 100%;
}

pre {
  background-color: transparent;
  border-color: #000;
  border-style: dotted;
  border-width: 0 0 0 1px;
  box-shadow: none;
  display: block;
  font-family: 'mononoki', monospace;
  font-feature-settings: "ss01" 1;
  font-size: 0.85em;
  margin: 0 0 2rem 0;
  margin-top: 0;
  overflow: visible;
  padding: 1.5em 0 1.5em 1.5em;
  word-break: keep-all;
}

code {
  font-family: 'mononoki', monospace;
  font-feature-settings: "ss01" 1;
  font-size: 0.85em;
  white-space: nowrap;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

pre > code {
  background-color: transparent;
  padding: 0;
  white-space: pre;
}

hr {
  border: 0;
  border-bottom: 1px dotted;
  margin-top: 5rem;
}

table {
  margin-bottom: 2rem;
  width: 100%
}

td,
th {
  border: 1px dotted #343327;
  padding: 0.5em;
}

/* Buttons, forms and input */

input,
textarea {
  border: 1px solid #8d8973;
}

textarea {
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid #2c8898;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #fff2bf;
  border-radius: 10em;
  border: 1px dotted #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: 0.5;
}

.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type="submit"]:focus:enabled,
input[type="submit"]:hover:enabled,
input[type="reset"]:focus:enabled,
input[type="reset"]:hover:enabled,
input[type="button"]:focus:enabled,
input[type="button"]:hover:enabled {
  background-color: #cff5d7;
  border-color: #000;
  color: #000;
  outline: 0;
}

button a,
.button a,
button a:hover,
.button a:hover {
  border-bottom: none;
  text-decoration: none;
}

textarea,
select,
input {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  box-shadow: none;
  box-sizing: border-box;
  color: #4a4a4a;
  margin-bottom: 10px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
}

textarea:focus,
select:focus,
input:focus {
  border: 1px solid #2c8898;
  outline: 0;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #2c8898;
}

label,
legend,
fieldset {
  display: block;
  font-family: "Gentium Book Basic";
  font-feature-settings: "smcp" 1;
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
}

/* IDs AND CLASSES ***********************************************************/

#preamble {
  border-bottom: 1px dotted;
  padding: 0.5em 0.5em 0 0.5em;
}

#preamble nav {
  font-size: 0.75em;
  font-weight: 400;
  text-align: right;
}

#preamble nav a {
  text-decoration: none;
}

#preamble nav a:hover {
  border-bottom: 0 none;
}

#site-name {
  float: left;
  font-weight: 800;
}

#postamble {
  border-top: 1px dotted;
  margin-top: 5rem;
  padding: 0 0.5em 0.5em 0.5em;
}

#postamble p.footer {
  font-size: 0.75em;
  font-weight: 400;
  text-align: center;
}

#content {
  padding: 0 .5em 0 .5em;
}

#content > header {
  border-bottom: 1px dotted;
  margin-bottom: 5rem;
  max-width: 100%;
}

#content header p {
  padding: 0;
}

#content > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
}

#content p {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#content ul,
#content ol {
  padding-right: 1.5em;
}

#content blockquote p {
  padding-right: 0
}

#content figure img {
  margin-bottom: 0;
}

#content figure img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Remove empty line introduced by <br> when img is set to display: block */
#content figure br {
  display: none;
}

.title {
  margin-bottom: 5rem;
  text-align: center;
}

.subtitle {
  font-family: 'mononoki', monospace;
  font-feature-settings: "ss01" 1;
  font-size: 0.75em;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.subnav {
  text-align: center;
}

.subnav li {
  display: inline-block;
  list-style-type: none;
  padding: 0 0.5rem 0 0.5rem;
}

.subnav ul,
.subnav ol {
  margin: 0;
  padding: 0;
}

.index {
  font-weight: 400;
  margin-bottom: 5rem;
}

.index ul {
  list-style-type: '★ ';
  margin-bottom: 1.5rem;
}

.index table {
  font-family: 'Gentium Book Basic';
}

.index tbody tr :nth-child(1) {
  min-width: 2ch;
}
.index tbody tr :nth-child(2) {
  width: 100%;
}

.center {
  text-align: center;
}

blockquote.center {
  padding-right: 1.5em;
  border: 0;
}

.box {
  border: 1px dotted #000;
  margin-bottom: 5rem;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 2rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2rem;
}

.box li li {
  font-weight: normal;
}

.box ul li {
  list-style-type: '★ ';
}

.box ul li ul li {
  list-style-type: '→ ';
}

#table-of-contents h2 {
  font-feature-settings: "smcp" 1;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

#table-of-contents li {
  list-style-type: none;
}

#table-of-contents li,
#table-of-contents li ul,
#table-of-contents li ol {
  margin-bottom: 0;
  margin-top: 0;
}

pre.src::before {
  background-color: #0001;
  border-radius: 1em;
  border: 0 none;
  color: #000c;
  font-family: "Gentium Book Basic";
  font-feature-settings: "smcp" 1;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding: 0 0.4em;
  right: 0;
  top: -5px;
}

/* .org-src-name { */
/*   color: #000c; */
/*   display: initial; */
/*   font-feature-settings: "smcp" 1; */
/*   font-size: 0.75em; */
/*   letter-spacing: 0.05em; */
/* } */

::selection {
  background: #c3eed2;
  color: #0b7e71;
}

li.on,
li.off {
  list-style-type: none;
}

li.on code,
li.off code {
  background: initial;
}
