/* GENERAL *******************************************************************/
/* Based on Sakura.css v1.3.0 https://github.com/oxalorg/sakura */

html {
    font-size: 62.5%; /* = 10px */
    font-family: 'Iosevka Curly Web', monospace;
}

body {
    font-size: 1.9rem;
    font-weight: 300;
    font-stretch: expanded;
    line-height: 1.5;
    max-width: 38em;
    margin: auto;
    color: #000;
    background-color: cornsilk;
    padding: 13px;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem; } }

@media (max-width: 382px) {
  body {
    font-size: 1.35rem; } }

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.1em;
    text-transform: capitalize;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

h1 {
    font-family: 'Iosevka Curly Slab Web', monospace;
    font-weight: 100;
    font-size: 6.4rem;
    line-height: 1.2;
    margin-top: 5.0rem;
    margin-bottom: 4.5rem;
}

h2 {
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.2;
    margin-top: 5.0rem;
    margin-bottom: 4.5rem;
}

h3 {
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    margin-top: 5.0rem;
    margin-bottom: 2.0rem;
}

h4 {
    font-family: 'Iosevka Curly Web', monospace;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.5;
    margin-top: 5.0rem;
    margin-bottom: 2.0rem;
}

h5, h6 {
    font-family: 'Iosevka Curly Web', monospace;
    font-weight: 300;
    font-size: 1.9rem;
    line-height: 1.5;
    margin-top: 5.0rem;
    margin-bottom: 2.0rem;
}

a {
    text-decoration: underline;
    color: #000f;
}

a:hover {
    color: #000f;
    text-decoration: none;
    border-bottom: 1px solid;
}

p {
    margin-top: 0px;
    margin-bottom: 2.0rem;
}

b, strong {
    font-weight: 400;
    font-style: italic;
}

small, sub, sup {
    font-size: 1.5rem;
}

ul {
    padding-left: 1.5em;
    margin-top: 0px;
    margin-bottom: 2.0rem;
}

li {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    padding: 0 1.5rem 0 1.5rem;
    border: 0 none;
}

blockquote p {
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.0rem; }

pre {
    font-family: 'Iosevka Curly Web', monospace;
    font-weight: 400;
    font-stretch: expanded;
    background-color: transparent;
    display: block;
    overflow-x: auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2.0rem;
    margin-left: 0px;
    padding: 1.5em 0 1.5em 1.5em;
    border: 0 none;
    border-left: 2px dotted;
    box-shadow: none;
    overflow: visible;
    word-break: keep-all;
}

code {
    font-family: 'Iosevka Curly Web', monospace;
    font-weight: 300;
    font-stretch: expanded;
    background-color: #0001;
    border-radius: 1em;
    padding: 0em 0.3em 0.05em 0.3em;
    white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre; }

hr {
    border-color: #0004;
}

table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse; }

td, th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1; }

/* Buttons, forms and input */
input, textarea {
  border: 1px solid #4a4a4a; }
  input:focus, textarea:focus {
    border: 1px solid #2c8898; }

textarea {
  width: 100%; }

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #2c8898;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #2c8898;
  cursor: pointer;
  box-sizing: border-box; }
  .button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: default;
    opacity: .5; }
  .button:focus:enabled, .button:hover:enabled, button:focus:enabled, button:hover:enabled, input[type="submit"]:focus:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:focus:enabled, input[type="reset"]:hover:enabled, input[type="button"]:focus:enabled, input[type="button"]:hover:enabled {
    background-color: #982c61;
    border-color: #982c61;
    color: #f9f9f9;
    outline: 0; }

textarea, select, input[type] {
  color: #4a4a4a;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
  textarea:focus, select:focus, input[type]:focus {
    border: 1px solid #2c8898;
    outline: 0; }

input[type="checkbox"]:focus {
  outline: 1px dotted #2c8898; }

label, legend, fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; }


/* IDs AND CLASSES ***********************************************************/


#site-name {
    float: left;
}

#preamble {
    border-bottom: 1px dotted;
}

#preamble nav {
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-align: right;
}

#preamble nav a {
    text-decoration: none;
}

#preamble nav a:hover {
    border-bottom: 0 none;
}

#postamble {
    border-top: 1px dotted;
    margin-top: 5.0rem;
}

#postamble p {
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;
}

#content header {
    border-bottom: 1px dotted;
    margin-bottom: 5.0rem;
}

#content p {
    padding-left: 1.5em;
}

.title {
    text-align: center;
    margin-bottom: 5.0rem;
}

.subtitle {
    text-align: center;
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Alegreya SC', serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}

#table-of-contents h2 {
    font-family: 'Iosevka Curly Web', monospace;
    font-weight: 300;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 2.0rem;
}

#table-of-contents li {
    font-family: 'Iosevka Curly Web', monospace;
    list-style-type: none;
}

#table-of-contents li,
#table-of-contents li ul,
#table-of-contents li ol {
    margin-bottom: 0;
}

pre.src::before {
    background-color: #ffff;
    color: #000c;
    top: -5px;
    right: 0px;
    padding: 0 0.4em;
    border: 0 none;
    border-radius: 1em;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.index ul {
    list-style-type: none;
    /* padding-left: 0; */
}

.index ul li {
    font-weight: 400;
    margin-bottom: 1.0rem;
}

.note {

}

.box {
    font-weight: 400;
}
