
@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCurly-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('IosevkaCurly-ExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaCurly-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('IosevkaCurly-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('IosevkaCurly-ExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('IosevkaCurly-ExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCurly-ThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('IosevkaCurly-ExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCurly-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('IosevkaCurly-ExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaCurly-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('IosevkaCurly-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('IosevkaCurly-ExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('IosevkaCurly-ExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCurly-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('IosevkaCurly-ExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCurly-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('IosevkaCurly-ExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaCurly-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('IosevkaCurly-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('IosevkaCurly-ExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('IosevkaCurly-ExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCurly-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('IosevkaCurly-ExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCurly-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('IosevkaCurly-Extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaCurly-Oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('IosevkaCurly-Oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('IosevkaCurly-ExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('IosevkaCurly-ExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCurly-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('IosevkaCurly-ExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCurly-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('IosevkaCurly-ExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaCurly-MediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('IosevkaCurly-MediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('IosevkaCurly-ExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('IosevkaCurly-ExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCurly-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('IosevkaCurly-ExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCurly-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('IosevkaCurly-ExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaCurly-SemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('IosevkaCurly-SemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('IosevkaCurly-ExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('IosevkaCurly-ExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCurly-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('IosevkaCurly-ExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCurly-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('IosevkaCurly-ExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaCurly-BoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('IosevkaCurly-BoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('IosevkaCurly-ExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('IosevkaCurly-ExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCurly-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('IosevkaCurly-ExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCurly-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('IosevkaCurly-ExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaCurly-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('IosevkaCurly-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('IosevkaCurly-ExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('IosevkaCurly-ExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCurly-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('IosevkaCurly-ExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCurly-Heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('IosevkaCurly-ExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('IosevkaCurly-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('IosevkaCurly-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('IosevkaCurly-ExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('IosevkaCurly-ExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCurly-HeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('IosevkaCurly-ExtendedHeavyItalic.woff2') format('woff2');
}
